###########################################
# Files
###########################################
app.yaml
*.sqlite3
settings_local.py
composer.phar

###########################################
# Folders
###########################################
.venv
backup
bower_components
node_modules

###########################################
.tmp
CACHE
dist
notes

###########################################
# Trash files & dirs
###########################################
*.py[co]
__pycache__
.*.swp
.*.un~
*.DS_Store
.sass-cache
.idea
*.log
.npm
